/* 초기설정 */
*{
    box-sizing: border-box;
    margin : 0; padding : 0; border : 0; 
}

#wrap{ 
    /* Wrapper이므로 width 설정X 비율 자동 맞춤 */
    margin : 0px 10%;
    padding : 20px;
    background-color: beige;
    border-radius: 5px;
}

/*
    wrap 내부에 Header, Content, Footer 정의
    main은 지우고 사용해도 됨.
*/